<form (submit)="uploadFile()">
  <mat-form-field>
    <input matInput type="file" name="file" (change)="setFile($event)" class="ng-hide" id="input-file-id">
    <label for="input-file-id" >Choose Files</label>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="file.title" name="title" placeholder="title">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="file.description" name="description" placeholder="optional description"></textarea>
  </mat-form-field>
  <button mat-button>Upload</button>
</form>