h2 {
  text-align: center;
}
:host {
  display: flex;
  justify-content: center;
  height: 100vh;
  main {
    position: relative;
  }
  /deep/ router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}