<form (submit)="register()">
  <mat-form-field>
    <input matInput [(ngModel)]="user.username" type="text" name="username" placeholder="username">
  </mat-form-field>
    <br>
    <mat-form-field>
    <input matInput [(ngModel)]="user.password" type="password" name="password" placeholder="password">
  </mat-form-field>
    <br>
    <mat-form-field>
    <input matInput [(ngModel)]="user.email" type="text" name="email" placeholder="email">
  </mat-form-field>
    <br>
    <mat-form-field>
    <input matInput [(ngModel)]="user.full_name" type="text" name="full_name" placeholder="full name (optional)">
  </mat-form-field>
  <br>
  <button mat-button type="submit">Register</button>
</form>